*{
    background-color:rgba(128, 128, 128, 0.241);
}

body {
    font-family: Calibri;
}

main {
    display: flex;
    flex-wrap: wrap;
}


.main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: lightblue;
    color: black;
  }

.card {
/*format the links to evenly spread out.*/    
    flex: 1 1 1;
    padding: 0 px;

}

.card header {
    background-color: black;
    color:lightblue;
    flex-grow: 0;
    padding: 8px;
   /*created one black bar across*/
    float: left;
    
}

/*linked .col section and formatted */
.nav a:hover {
    background-color: black;
    color: white;
}

img{
    width: 1128px;
    height: 400px;
}